@model bjcp.quiz.web.ViewModels.SrmQuizViewModel
@{
    ViewBag.Title = "BJCP Quiz - SRM Quiz";
    ViewBag.CurrentPage = "srm-quiz";           
}
@if(!String.IsNullOrWhiteSpace(Model.Message))
{
<div>@Model.Message</div>
}
@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod="POST" }))
{
    <div class="row-fluid">
        <div class="span4">
            @Html.LabelFor(model => model.UserSrms.First().Name)
        </div>
        <div class="span1">
            @Html.LabelFor(model => model.UserSrms.First().Low)
        </div>
        <div class="span1">
            @Html.LabelFor(model => model.UserSrms.First().High)
        </div>
    </div>
    @Html.EditorFor(m => m.UserSrms)

    <input type="submit" value="check" class="btn" />
}