@model bjcp.quiz.Srm
<div class="row-fluid">
    <div class="span4">
        @Html.TextBoxFor(model => model.Name, new { autocomplete = "off" })
    </div>
    <div class="span1">
        @Html.DisplayFor(model => model.Low)
        @Html.HiddenFor(model => model.Low)
    </div>
    <div class="span1">
        @Html.DisplayFor(model => model.High)
        @Html.HiddenFor(model => model.High)
    </div>
</div>
