@model bjcp.quiz.Srm

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Low)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Low)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.High)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.High)
        </div>